@model CarSales.Models.Sales

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Sales</h4>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Make" class="control-label">Make</label>
                        <input asp-for="Make" class="form-control" />
                        <span asp-validation-for="Make" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model" class="control-label">Model</label>
                        <input asp-for="Model" class="form-control" />
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label">Price</label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateListed" class="control-label">Date Listed</label>
                        <input asp-for="DateListed" class="form-control" />
                        <span asp-validation-for="DateListed" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
